article.tweet footer {
  display: flex;
  color: #545149;
  font-size: 0.75em;
  border-top-style: solid;
  padding-top: 1%;
}

article.tweet a:hover {
  color: goldenrod;
}

article.tweet a {
  color: #4056A1;
}

@media (max-width: 1024px) {
  article.tweet footer {
    font-size: 0.5em;
  }
}

