header.general {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9EADE1;
  background-image: url(../images/notebook-dark.png);
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  color: #545149;
}