.new-tweet {
  display: flex;
  flex-direction: column;
}

.tweet-form {
  display: flex;
  flex-direction: column;
}

.tweet-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Bungee;
  margin: 0.5em 0em; 
}

.button1 {
  background-color: #4056A1;
  color: white;
  padding: 0.25em;
  border: none;
}

#tweet-text {
  border-bottom-style: solid;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-width: 0.2em;
  color: #545149;
  background-color: #f4f1ec;
}

.humming {
  color: #545149;
  font-size: 1.25em;
}

.avatar {
  display: flex;
  align-items: center;
}

.user-name {
  font-family: Source-Sans-Pro;
  font-size: 1.25em;
  padding: 0.5em;
}

.counter {
  color: #545149;
}

#tweetName {
  color: #C4C4C4;
}

.error {
  display: flex;
  align-self: center;
  color: red;
  margin: 1em;
  padding: 0.5em;
  border: solid;

}

.label {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

@media (max-width: 1024px) {
  .humming {
    font-size: 0.8em;
  }
  .user-name {
    font-size: 1em;
  }
  .error {
    font-size: 0.75em;
  }
  #tweetName {
    font-size: 0.75em;
  }
  .container-text {
    font-size: 0.75em;
  }
  .avatar-image {
    width: 25%;
  }
}